<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news info</title>
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
</head>
<body>
    <h1> Welcome To LUCKY NEWS PORTAL </h1>
 <img src="{% static 'images/news.jpeg' %}" alt="image will add soon">
 <ul>
    <li><a href="/movies">Movies Information</a></li>
    <li><a href="/sports">Sports Information</a></li>
    <li><a href="/politics">Politics Information</a></li>
 </ul>
</body>
</html>