<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class='navbar'>
        <a class='navbar' href="#">Mahesh News</a>
        <div class="container">
        <ul class='navbar-nav'>
            <li><a class='navbar' href="/movies">Movies</a></li>
            <li><a class='navbar' href="/sports">Sports</a></li>
            <li><a class='navbar' href="/politics">Politics</a></li>
        </ul>
        </div>
    </nav>
    {% block body_block %}
    {% endblock %}
</body>
</html>