<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/jobs1.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
        <h1><u><i>Welcome To Lucky Jobs</h1></u></i>
        <p>Continues Job Updates For Every Hour....</p>
        <a href="hyd/">Hyderabad  Jobs</a>&nbsp&nbsp&nbsp&nbsp
        <a href="pune/">Pune Jobs</a>&nbsp&nbsp&nbsp&nbsp
        <a href="bgl/">Bangalore Jobs</a>
        </div>
    </div>
</body>
</html>